<h1>Editing Article</h1>

<%= render 'form', article: @article %>

<div class="text-center mt-3">
<%= link_to 'Back to The Article', @article ,  class: "btn bg-orange" %> 
<%= link_to 'Back to Home page', root_path , class: "btn bg-warning" %>
</div>
