<h1 class= "text-center text-orange">New Article</h1>

<%= render 'form', article: @article %>

<div class= "text-center">
<%= link_to 'Back to Home page', root_path , class: "btn btn-secondary " %>
</div>