/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

 @import "bootstrap";
 @import "font-awesome";

// Homepage style:

body {
    margin: 0;
    padding: 0;
}

.card{

}

.card-img{
}

.feature-article-content{
    background: rgb(35,34,45);
    background: linear-gradient(0deg, rgba(35,34,45,1) 0%, rgba(135,135,152,0.2) 34%, rgba(255,255,255,0.1) 45%);
    // background: rgb(35,34,45);
    // background: linear-gradient(14deg, rgba(35,34,45,1) 0%, rgba(51,51,59,1) 8%, rgba(239,239,240,0.1) 34%, rgba(255,255,255,0.1) 100%, rgba(0,212,255,0.1) 100%);
    // background: rgb(2,0,36);
    // background: linear-gradient(20deg, rgba(2,0,36,1) 0%, rgba(9,9,30,1) 7%, rgba(239,239,240,0.1) 29%, rgba(255,255,255,0.1) 100%, rgba(0,212,255,0.1) 100%);
    // background: rgba(17,17,55,0.5);
}

.feature-article-title{
    color: #F9643F;
    text-decoration: none;   
}

.feature-article-category{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

// 4Cards
.feature-img{
    height: 200px;
}

.card-article-content {
    background: rgb(35,34,45);
    background: linear-gradient(0deg, rgba(35,34,45,1) 0%, rgba(135,135,152,0.2) 45%, rgba(255,255,255,0.1) 45%);
}

.card-article-category{
 
    color: #F9643F;
    font-weight: bold;
    border-bottom: yellow 2px solid ;
    padding-bottom:2px;
    text-decoration: none;
    // line-height: 1;
    // text-decoration: underline solid yellow 3px;
}

.card-article-title {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

// Category page:
.details-card{
    height: 300px;
}

// Header:
.active-item{
    color: #F9643F
}

.feature-article {
    border: none;
    border-top: #847F7B 4px solid;
}

.line{
    width: 300px;
    height: 4px;
    background-color: #E83E3B;
    position: absolute;
    top: 96px;
    z-index: 1;
}

// show page 
.show-page-card {
    background-color: #4E443E;
}

.bg-orange {
    background-color: #F9643F;
}